
header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 80%;
    max-height: 3rem;
    margin: 3rem auto;
    position: sticky;
    top: 2rem;
  }
  
.logo {
    display: flex;
    justify-self: start;
    font-weight: 900;

    &:hover {
        color: #4A4FF2;
      }
  }
  
.header-nav {
    display: flex;
    justify-items: end;
    gap: 2rem;
}
  
.header-nav__list {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 19px;
    font-weight: 700;
    
    & a:hover {
      color: #4A4FF2;
    }
}